{% extends "AppDiario/padre.html" %}
{% load static %}

{% block titulo %}
<h1 class="text-white font-weight-bold">ULTIMAS NOTICIAS</h1>
                        <hr class="divider" />
{% endblock %}

{% block contenido_que_cambia %}
{% for posteo_ultimasNoticias in posteo_ultimasNoticias %}
<button>
    <a href="{% url 'verNoticias' posteo_ultimasNoticias.titulo %}">{{ posteo_ultimasNoticias.titulo }}</a>
</button>
<br>
{% endfor %}
{% endblock %}

{% block administrar %}
{% if request.user.is_authenticated %}      
<a class="nav-link" href="{% url 'nuevoUltimasNoticias' %}">Nuevo Posteo</a>   
{% endif %}
{% endblock %}